body {
    margin: 0 1px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 30px;
    background-color: #1e4358;
}

.home a {
    float: right;
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 200px;
    padding: 50px;
    background-color: #4ba9dd;
    color: white;
}

.banner h1 {
    font-size: 50px;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    background-color: #00aeef;
}

.navbar ul li {
    list-style: none;
    float: left;
    display: block;
    width: 50%;
    border-right: 1px white solid;
}

.navbar li a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
    font-size: 25px;
}

.navbar {
    width: 100%;
    z-index: 10;
    margin: 1px 0;
}

.navbar>ul>li:hover>a {
    background: #c7c3c3;
    color: white;
}

.menu-content {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    padding-top: 10px;
    padding-left: 30px;
}

.menu-content ul {
    margin: 0;
    padding: 0;
    height: 30px;
    display: block;
}

.menu-content ul li {
    list-style: none;
    float: left;
    display: block;
    width: 15%;
    border-right: 1px white solid;
    height: 100%;
}

.menu-content li p {
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 6px;
    margin: 0;
    display: block;
    height: 100%;
    font-size: 15px;
    font-style: unset;
}

.menu-content>ul>li:hover>p {
    opacity: 0.5;
}

#overView {
    background-color: #10329a;
}

#detail {
    background-color: #78bfe6;
}

.content-overView {
    height: 850px;
    margin: 50px 20px;
}

.left-content-overView {
    width: 35%;
    height: 75%;
    background-color: #4ba9dd;
    padding: 20px;
    color: white;
}

.right-content-overView {
    width: 65%;
    height: 100%;
    padding: 30px 100px;
}

.content-overView div {
    float: left;
}

.content-detail {
    min-height: 700px;
    margin-top: 50px;
    display: none;
    margin: 50px 20px;
}

.left-content-detail {
    width: 45%;
    height: 100%;
    background-color: #4ba9dd;
    padding: 20px;
    color: white;
}

.right-content-detail {
    width: 55%;
    height: 100%;
    padding: 50px;
}

.content-detail div {
    float: left;
}

.left-content-overView select {
    width: 75px;
    border-radius: 4px;
    height: 25px;
    background-color: #4ba9dd;
    border-color: white;
    color: white;
}

.left-content-detail select {
    width: 105px;
    border-radius: 4px;
    height: 35px;
    background-color: #4ba9dd;
    border-color: white;
    color: white;
}